{% extends 'base.html' %}
{% block body %}
<!-- Page Content -->
<h3 id="top" class="my-5" style="text-align: center; font-family: 'Jua', sans-serif;">{{ user }}님이 여행하고 싶은 영화</h3>
<ul class="nav justify-content-center">
    {% for movie in movies %}
    <li class="nav-item">
        <a class="nav-link active" href="#{{ movie.pk }}"><img src="{{ movie.imageUrl }}" style="width: 120px; height:200px;"></a>
    </li>
    {% endfor %}
</ul>
<div id="app" class="container">
    
{% for keyword in user_keywords %} {% if keyword.movies.all %}
  <!-- Portfolio Item Heading -->
  <h1 class="my-4">#{{ keyword.name }}
    <!--<small>Secondary Text</small>-->
  </h1>
  <!-- Portfolio Item Row -->
  {% for key_movie in keyword.movies.all %}
    <p class="movieCd" style="display: none;">{{ key_movie.code }}</p>
    <p class="movieLike" style="display: none;">{{ key_movie.is_like }}</p>
    <p class="likeCount" style="display: none;">{{ key_movie.baged_users.all.count }}</p>
    <hr style="height: 1px;">
  <div class="row">
    <div class="col-md-6">
      <img id="{{ key_movie.pk }}" class="img-fluid" src="{{ key_movie.imageUrl }}" style="width:420px; height:800" alt="">
    </div>
    <div v-for="movie in movies" class="col-md-3" v-if="movie.movieCd === '{{ key_movie.code }}'">
      <h3 class="my-3" v-if="movie.movieCd === '{{ key_movie.code }}'">
          <span v-if="movie.movieCd === '{{ key_movie.code }}'" v-text="movie.movieNm"></span>
            <i v-if="movie.movieCd === '{{ key_movie.code }}'" @click="likeMovies(movie, '{{ key_movie.pk }}')"
           :class="{fas: movie.is_like, far: !movie.is_like, 'fa-heart': true,}"
           style="color:red">
      </i><br v-if="movie.movieCd === '{{ key_movie.code }}'">
      </h3>
      <span v-if="movie.movieCd === '{{ key_movie.code }}'"><span v-text=`${movie.likeCount}`></span>명이 담아둔 영화</span>
      <hr v-if="movie.movieCd === '{{ key_movie.code }}'">
      <p v-if="movie.movieCd === '{{ key_movie.code }}'">장르: <span v-if="movie.movieCd === '{{ key_movie.code }}'" v-for="genre in movie.genres" v-text=`${genre.genreNm}`></span></p>
      <p v-if="movie.movieCd === '{{ key_movie.code }}'">영화감독: <span v-if="movie.movieCd === '{{ key_movie.code }}'" v-for="director in movie.directors" v-text="director.peopleNm"></span></p>
      <p v-if="movie.movieCd === '{{ key_movie.code }}'">영화배우: <span v-if="movie.movieCd === '{{ key_movie.code }}'" v-for="actor in movie.actors" v-text="actor.peopleNm "></span></p>
      <hr v-if="movie.movieCd === '{{ key_movie.code }}'">
      <p v-if="movie.movieCd === '{{ key_movie.code }}'">{% for key_name in key_movie.keywords.all %} #{{key_name.name}}{% endfor %}</p>
    </div>
  </div>
  
  <!-- /.row -->
  <!-- Related Projects Row -->
  <h3 class="my-4">주요 장면</h3>
  <div class="row">
      {% for image in key_movie.image_set.all %}
    <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="{{ image.mv_key_img }}" alt="" style="width:200px; height:200px;">
    </div>
    {% endfor %}
  </div>
  <!-- /.row -->
{% endfor %} {% endif %} {% endfor %}
</div>
<!-- /.container -->
    <div class="sticky fixed-bottom d-flex justify-content-center align-items-center" style="margin-left: auto; margin-right: 100px; margin-bottom: 40px; border-radius:35%; width:40px; height:40px;"><a href="#top"<i class="fas fa-2x fa-arrow-up"></i></div>
{% endblock %}

{% block script %}
<script>
    const app = new Vue({
        el: '#app',
        data: {
            movies : [],
        },
        mounted: function() {
            this.getMovies()
        
        },
        methods: {
            getMovies: function() {
                let movieList = document.querySelectorAll('.movieCd')
                let movieLike = document.querySelectorAll('.movieLike')
                let likeCount = document.querySelectorAll('.likeCount')
                console.log(movieList)
                console.log(movieLike)
                console.log(likeCount)
                movieList.forEach(function(movie) {
                    url=`http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=dc062d6001f402446fc226e2399d815a&movieCd=${movie.innerText}`
                    axios.get(url)
                        .then(res => {
                            console.log(res)
                            app.$data.movies.push(res.data.movieInfoResult.movieInfo)
                            app.$data.movies = app.$data.movies.map((movie) => {
                                console.log(movieLike[0].innerText)
                                if (movieLike[0].innerText === 'True') {
                                    return {...movie, is_like: true, likeCount: likeCount[0].innerText}
                                } else {
                                    return {...movie, is_like: false, likeCount: likeCount[0].innerText}
                                }
                            })
                            console.log(app.$data.movies)
                            // console.log(res.data.movieInfoResult.movieInfo)
                            // this.movies.push(res.data.movieInfoResult.movieInfo)
                        })
                })
            },
            likeMovies: function(movie, moviePk) {
               axios.get(`/movies/${moviePk}/movie_like/`)
               .then(response => {
                   console.log(response)
                   movie.is_like = !movie.is_like
                   console.log(movie.likeCount)
                   if (movie.is_like) {
                       console.log(Number(movie.likeCount)+1)
                       movie.likeCount = Number(movie.likeCount)+1
                   } else {
                       console.log(Number(movie.likeCount)-1)
                       movie.likeCount = Number(movie.likeCount)-1
                   }
               })
               .catch(error => console.log(error))
           },
        }
    })
</script>
{% endblock %}